body{background-color:rgb(211,217,227);
    margin-left:10%;
    margin-right:10%}
p{color:DarkSlateGrey;font-family:arial;font-size:18px}
h1{color:DarkSlateGrey}
h2{color:DarkSlateGrey}
p{color:DarkSlateGrey;font-family:arial;font-size:18px}